# Akuunda Pay API
AKUUNDA_API_BASE_URL=https://walletdev.akuunda-pay.io

# YellowCard
YELLOWCARD_API_URL=
YELLOWCARD_API_KEY=
YELLOWCARD_CHANNEL_ID=

# MELD
MELD_API_URL=
MELD_API_KEY=

# Frontend
NEXT_PUBLIC_API_BASE=https://qr.akuunda-pay.io/api

