PORT=3000
CORS_ORIGIN=https://qr.akuunda-pay.io,http://localhost:3000
INTERNAL_API_BASE=https://walletdev.akuunda-pay.io/api/internal/v1

KEYCLOAK_TOKEN_URL=https://gestionsecu.akuunda-pay.io/realms/akuunda-realm/protocol/openid-connect/token
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
